/* COMENTARIOS, ASÍ. Para una o muchas líneas */

* {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Source Sans Pro', sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
}

nav {
    position: relative;
}

.header {
    background-color: #4D0033;
    width: 100%;
    height: 100px;
    font-size: 13px;
}

.logo-nav-container {
    display: flex;
    justify-content:space-between;
}
/*
.logos {
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}
*/

li {
    color: whitesmoke;
}


.acerca_de_mi {
    background-image: linear-gradient(to right top, #4d0033, #620a38, #77193d, #8b2740, #9e3742, #aa4243, #b64e44, #c15a45, #c96445, #d06e46, #d67846, #dc8247);
    width: 100%;
    height: 658px;
}

.experiencia .skills {
    color: white;
    width: 100%;
    height: 658px;
}

.educacion {
    background-image: linear-gradient(to right bottom, #4d0033, #620a38, #77193d, #8b2740, #9e3742, #aa4243, #b64e44, #c15a45, #c96445, #d06e46, #d67846, #dc8247);
    width: 100%;
    height: 658px;
}

.proyectos {
    background-image: linear-gradient(to right top, #4d0033, #620a38, #77193d, #8b2740, #9e3742, #aa4243, #b64e44, #c15a45, #c96445, #d06e46, #d67846, #dc8247);
    width: 100%;
    height: 658px;
}
